html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

input {
    display: inline-block;
    padding: 1em;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

button {
    font-weight: 600;
    color: #fff;
    background-color: #7bc2da;
    text-transform: capitalize;
    font-size: 16px;
    border: none;
    margin-top: 1em;
    padding: 0.7em 2em;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #49bce2;
    }
}
